## Allow setattr access on the fifo_file.
## Required for Podman on Centos 7.

module podman 1.0;

require {
	type container_runtime_t;
	type container_t;
	type fusefs_t;
	class fifo_file setattr;
	class sock_file { create setattr unlink write };
}

#============= container_t ==============
allow container_t container_runtime_t:fifo_file setattr;
allow container_t fusefs_t:sock_file { create setattr unlink write };
